<!-- Create tabs -->
  <ion-tabs class="tabs-color-active-positive">
    <ion-tab title="Change Name" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/jokeName">
      <ion-nav-view name="tab-jokeName">
      </ion-nav-view>
    </ion-tab>
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/randJoke">
      <ion-nav-view name="tab-randJoke">
      </ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-star-half" href="#/tab/favorites">
      <ion-nav-view name="tab-favorites">
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>


